@model AulaASPNETMVC.Models.PrimeiroModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Primeiro", 
    new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, 
    new { @class = "form-horizontal", role = "form" }))
{
    if (Model.Nome != null)
    {
        <h2>Olá @Html.DisplayFor(model => model.Nome)</h2>
    }
    else
    {
        <input type="submit" value="Enviar" />
    }
}